<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>lone博客</title>

  <!-- Bootstrap -->
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <!--<link href="/static/css/fixed-top.css" rel="stylesheet">-->
  <link href="/static/css/simplePagination.css" rel="stylesheet">
  <link href="/static/css/blogItem.css" rel="stylesheet">
  <link href="/static/css/common.css" rel="stylesheet">
  <link href="/static/css/zico.css" rel="stylesheet">

  <script src="/static/js/jquery-3.4.1.js"></script>
  <script src="/static/js/bootstrap.bundle.js"></script>
  <script src="/static/js/nav.js"></script>

</head>

<body class="d-flex flex-column h-100">
  <div th:replace="temp/templates::navbar"></div>
  <div class="container">
    <div id="blog-tab">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="" id="square">广场</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="" id="hot">最热</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="" id="new">最新</a></li>
      </ul>
    </div>
    <div id="blog-list" class="tab-content">
      <div id="listwrapper" class="tab-pane show fade active">
        <div id="list">
        </div>

        <ul id="pagewrapper">

        </ul>

      </div>
    </div>
  </div>
  </div>

  
  <div th:replace="temp/templates::login-modal"></div>

  <div th:replace="temp/templates::footer"></div>

  <script src="/static/js/jquery.simplePagination.js"></script>
  <script src="/static/js/blogList.js"></script>
  <script src="/static/js/home.js"></script>
  <script>

    $(document).ready(function () {
      initPage();
    });
  </script>
</body>

</html>
