<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xz.blog.mapper.StatisticMapper">
	<resultMap id="BaseResultMap"
		type="com.xz.blog.modal.po.Statistic">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="aid" jdbcType="INTEGER" property="articleId" />
		<result column="com_c" jdbcType="INTEGER"
			property="commentCount" />
		<result column="view_c" jdbcType="INTEGER" property="viewCount" />
		<result column="col_c" jdbcType="INTEGER"
			property="CollectionCount" />
		<result column="thumbup_c" jdbcType="INTEGER"
			property="ThumbupCount" />
		<result column="word_c" jdbcType="INTEGER" property="WordCount" />
		<result column="create_time" jdbcType="TIMESTAMP"
			property="createTime" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, aid, com_c, view_c, col_c, thumbup_c, word_c, create_time
	</sql>
	<select id="selectByExample"
		parameterType="com.xz.blog.modal.po.StatisticExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from statistics
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from statistics
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from statistics
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.xz.blog.modal.po.StatisticExample">
		delete from statistics
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert"
		parameterType="com.xz.blog.modal.po.Statistic">
		<selectKey resultType="java.lang.Integer" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into statistics (id, aid, com_c,
		view_c, col_c, thumbup_c,
		word_c, create_time)
		values (#{id,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER},
		#{commentCount,jdbcType=INTEGER},
		#{viewCount,jdbcType=INTEGER}, #{CollectionCount,jdbcType=INTEGER},
		#{ThumbupCount,jdbcType=INTEGER},
		#{WordCount,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective"
		parameterType="com.xz.blog.modal.po.Statistic">
		<selectKey resultType="java.lang.Integer" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into statistics
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="articleId != null">
				aid,
			</if>
			<if test="commentCount != null">
				com_c,
			</if>
			<if test="viewCount != null">
				view_c,
			</if>
			<if test="CollectionCount != null">
				col_c,
			</if>
			<if test="ThumbupCount != null">
				thumbup_c,
			</if>
			<if test="WordCount != null">
				word_c,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="articleId != null">
				#{articleId,jdbcType=INTEGER},
			</if>
			<if test="commentCount != null">
				#{commentCount,jdbcType=INTEGER},
			</if>
			<if test="viewCount != null">
				#{viewCount,jdbcType=INTEGER},
			</if>
			<if test="CollectionCount != null">
				#{CollectionCount,jdbcType=INTEGER},
			</if>
			<if test="ThumbupCount != null">
				#{ThumbupCount,jdbcType=INTEGER},
			</if>
			<if test="WordCount != null">
				#{WordCount,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.xz.blog.modal.po.StatisticExample"
		resultType="java.lang.Long">
		select count(*) from statistics
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update statistics
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.articleId != null">
				aid = #{record.articleId,jdbcType=INTEGER},
			</if>
			<if test="record.commentCount != null">
				com_c = #{record.commentCount,jdbcType=INTEGER},
			</if>
			<if test="record.viewCount != null">
				view_c = #{record.viewCount,jdbcType=INTEGER},
			</if>
			<if test="record.CollectionCount != null">
				col_c = #{record.CollectionCount,jdbcType=INTEGER},
			</if>
			<if test="record.ThumbupCount != null">
				thumbup_c = #{record.ThumbupCount,jdbcType=INTEGER},
			</if>
			<if test="record.WordCount != null">
				word_c = #{record.WordCount,jdbcType=INTEGER},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update statistics
		set id = #{record.id,jdbcType=INTEGER},
		aid = #{record.articleId,jdbcType=INTEGER},
		com_c = #{record.commentCount,jdbcType=INTEGER},
		view_c = #{record.viewCount,jdbcType=INTEGER},
		col_c = #{record.CollectionCount,jdbcType=INTEGER},
		thumbup_c = #{record.ThumbupCount,jdbcType=INTEGER},
		word_c = #{record.WordCount,jdbcType=INTEGER},
		create_time = #{record.createTime,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.xz.blog.modal.po.Statistic">
		update statistics
		<set>
			<if test="articleId != null">
				aid = #{articleId,jdbcType=INTEGER},
			</if>
			<if test="commentCount != null">
				com_c = #{commentCount,jdbcType=INTEGER},
			</if>
			<if test="viewCount != null">
				view_c = #{viewCount,jdbcType=INTEGER},
			</if>
			<if test="CollectionCount != null">
				col_c = #{CollectionCount,jdbcType=INTEGER},
			</if>
			<if test="ThumbupCount != null">
				thumbup_c = #{ThumbupCount,jdbcType=INTEGER},
			</if>
			<if test="WordCount != null">
				word_c = #{WordCount,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.xz.blog.modal.po.Statistic">
		update statistics
		set aid = #{articleId,jdbcType=INTEGER},
		com_c = #{commentCount,jdbcType=INTEGER},
		view_c = #{viewCount,jdbcType=INTEGER},
		col_c = #{CollectionCount,jdbcType=INTEGER},
		thumbup_c = #{ThumbupCount,jdbcType=INTEGER},
		word_c = #{WordCount,jdbcType=INTEGER},
		create_time = #{createTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<update id="updateCommentCountPlus">
		UPDATE statistics
		SET com_c = com_c + 1
		WHERE id = #{value}
	</update>

	<update id="updateCollectionCountPlus">
		UPDATE statistics
		SET col_c = col_c + 1
		WHERE id = #{value}
	</update>

	<update id="updateViewCountPlus">
		UPDATE statistics
		SET view_c = view_c + 1
		WHERE id = #{value}
	</update>

	<update id="updateThumbupCountPlus">
		UPDATE statistics
		SET thumbup_c = thumbup_c + 1
		WHERE id = #{value}
	</update>

	<update id="updateCommentCountMinus">
		UPDATE statistics
		SET com_c = com_c - 1
		WHERE id = #{value}
	</update>

	<update id="updateCollectionCountMinus">
		UPDATE statistics
		SET col_c = col_c - 1
		WHERE id = #{value}
	</update>

	<update id="updateViewCountMinus">
		UPDATE statistics
		SET view_c = view_c - 1
		WHERE id = #{value}
	</update>
	<update id="updateThumbupCountMinus">
		UPDATE statistics
		SET thumbup_c = thumbup_c - 1
		WHERE id = #{value}
	</update>


</mapper>